@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

html,
body,
#root {
  height: 100%;
  position: relative;
  font-family: 'Battambang', cursive, sans-serif;
  font-size: 18px;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

p {
  margin: 0;
}

img {
  filter: contrast(200%) saturate(200%);
}

.weather-card {
  position: relative;
  display: flex;
  float: right;
  color: rgb(0, 0, 0);
  top: 70px;
  right: 100px;
  border-radius: 15px;
}

.weather-card-inner-container {
  display: flex;
  flex-direction: column;
}

.weather-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(117, 127, 131, 0.4);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  font-size: 2.2rem;
}

.basic-weather-data {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  padding-top: 0;
}

.basic-weather-data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.basic-weather-data-container p {
  text-align: center;
}

#current-weather {
  margin-bottom: 20px;
}

#temp {
  font-size: 3.2rem;
  position: relative;
  line-height: 1.3;
}

#temp::after {
  content: "°";
  position: absolute;
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
  font-size: 1.9rem;
  top: 3px;
}

#city, #current-day {
  font-size: 0.9rem;
}

.minor-weather-data {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 0.9rem;
}

.prop-container {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.prop-container p:last-child {
  font-weight: 700;
  display: flex;
}

#wind {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transform: rotate(var(--deg));
  transform-origin: 50% 47%;
  margin: 3px;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
}

/*Loading component*/
.loader {
  width: 200px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 99999;
}

.loader-inner {
  top: 100px;
  right: 50px;
  height: 60px;
  width: 100px;
  position: absolute;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  animation-delay: calc(-50ms * var(--delay));
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
}
.loader-line {
  position: absolute;
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: 100px;
  filter: contrast(200%);
  border-color: hsl(calc(60 * var(--mult)), 80%, 60%);
  height: calc(90px - 14px * var(--mult));
  width: calc(90px - 14px * var(--mult));
  top: calc(7px + 7px * var(--mult));
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

@media only screen and (max-width: 460px) {
  .weather-card {
    margin: 0 auto;
    top: 40px;
    right: 0;
    float: none;
    width: 85%
  }

  .weather-card-inner-container {
    flex-direction: row;
    flex-grow: 1;
  }

  .basic-weather-data {
    flex-direction: column;
    gap: 0;
  }

  .date {
    position: absolute;
    right: 10%;
    top: 10%;
  }

  #time {
    font-size: 2rem;
    line-height: 1.3;
  }

  .basic-weather-data-container {
    margin-top: 0;
  }

  #current-weather {
    margin-bottom: 5px;
  }
  
  .basic-weather-data-container p {
    padding-bottom: 0;
    text-align: center;
  }

  #temp {
    line-height: 1.2;
    font-size: 2.8rem;
  }

  #temp::after {
    top: -5px;
  }

  .minor-weather-data {
    justify-content: flex-end;
    flex-grow: 1;
    align-items: stretch;
    padding: 10px 15px;
    padding-left: 10px;
    font-size: 0.8rem;
  }

  #wind {
    font-size: 0.7rem;
  }

  .prop-container {
    padding: 0;
  }

  .prop-container p {
    text-align: center;
  }

  .prop-container p:last-child {
    justify-content: center;
  }

  .loader {
    width: 150px;
    height: 150px;
  }

  .loader-inner {
    top: 30px;
    right: 25px;
  }
}

@media only screen and (max-width: 380px) {
  .weather-card {
    width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  .weather-card {
    width: 98%;
  }

  .minor-weather-data {
    padding: 10px;
    padding-left: 7px;
    font-size: 0.75rem;
  }
}