@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;600;700&display=swap');

html,
body,
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oxygen', sans-serif;
}

.weather {
  display: flex;
  flex-direction: column;
}

.weather p {
  padding: 5px 15px;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.prop-container {
  display: flex;
}

.value {
  color: rgb(255, 0, 106);
}