@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

html,
body,
#root {
  min-height: 100%;
  position: relative;
  font-family: 'Battambang', cursive, sans-serif;
  font-size: 18px;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

p {
  margin: 0;
}

img {
  filter: contrast(200%) saturate(200%);
}

.container {
  display: grid;
}

.weather-card {
  position: relative;
  margin: 70px 100px 0 0;
  display: flex;
  justify-self: end;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.blur::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(117, 127, 131, 0.4);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: -1;
}

#location {
  padding-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.weather-card-inner-container {
  padding: 0 15px;
}

.weather-card-inner-container, .weather-information {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  font-size: 2.2rem;
  line-height: 1.25;
}

.basic-weather-data {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.basic-weather-data-container {
  display: flex;
  flex-direction: column;
}

.basic-weather-data-container p {
  text-align: center;
}

#current-weather {
  padding: 10px;
  padding-bottom: 0;
}

#temp {
  font-size: 3.2rem;
  position: relative;
  line-height: 1.3;
}

#temp::after {
  content: "°";
  position: absolute;
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
  font-size: 1.9rem;
  top: 3px;
}

#current-day {
  font-size: 0.9rem;
}

.minor-weather-data {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.prop-container {
  display: flex;
  justify-content: space-between;
}

.prop-container p:last-child {
  font-weight: 700;
  display: flex;
}

#wind {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transform: rotate(var(--deg));
  transform-origin: 50% 47%;
  margin: 3px;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
}

/*Loading component*/
.loader {
  width: 200px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 99999;
}

.loader-inner {
  top: 100px;
  right: 50px;
  height: 60px;
  width: 100px;
  position: absolute;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  animation-delay: calc(-50ms * var(--delay));
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
}
.loader-line {
  position: absolute;
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: 100px;
  filter: contrast(200%);
  border-color: hsl(calc(60 * var(--mult)), 80%, 60%);
  height: calc(90px - 14px * var(--mult));
  width: calc(90px - 14px * var(--mult));
  top: calc(7px + 7px * var(--mult));
}

/*Error component*/
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.message {
  padding: 0 20px;
  text-align: center;
  font-size: 1.2rem;
  filter: contrast(200%);
}

/*Notes container*/
.notes-container {
  position: relative;
  margin: 50px auto 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.notes-container form {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.notes-container input {
  padding: 15px;
  font-size: 1.8rem;
  color:rgb(0, 0, 0);
  width: 60%;
  background-color: transparent;
  border-color: aliceblue;
  outline: none;
  border-radius: 8px;
}

.notes-container button {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.notes-container input::placeholder {
  color: white;
  opacity: 0.7;
  font-weight: 100;
}

.tasks {
  display: flex;
  padding: 0 20px;
  align-items: center;
  min-height: 200px;
  gap: 20px;
  flex-wrap: wrap;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-container {
  position: relative;
  padding: 15px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.done {
  filter: contrast(50%);
}

.note-container p {
  z-index: 5;
  font-size: 1.1rem;
}

.note .blur::before {
  background-color: orangered;
  z-index: 0;
}

.button-container {
  position: absolute;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-size: 0.8rem;
  top: -21px;
  right: 7px;
  border-radius: 3px;
  z-index: 1;
  /*transform: translateY(0);
  transition: transform 0.4s ease;*/
}

/*.note:hover .button-container {
  transform: translateY(-21px);
}*/

.remove-button, .done-button {
  border-radius: 7px;
  padding: 0 2px;
  cursor: pointer;
} 

.remove-button {
  background-color: rgba(226, 9, 9, 0.5);
}

.done-button {
  background-color: rgba(9, 226, 74, 0.5);
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

@media only screen and (max-width: 460px) {
  .weather-card {
    margin: 40px 0 0 0;
    justify-self: center;
    width: 85%;
    height: 225px;
  }

  #location {
    padding-top: 5px;
  }

  .weather-information {
    flex-direction: row;
    justify-content: flex-end;
  }

  .basic-weather-data {
    position: absolute;
    top: 40px;
    left: 10px;
    flex-direction: column;
    gap: 0;
  }

  .icon-container {
    height: 60px;
    align-items: center;
  }

  .icon-container img {
    overflow-y: hidden;
  }

  .date {
    position: absolute;
    right: 15%;
    top: 20%;
  }

  #time {
    font-size: 2rem;
    line-height: 1.3;
  }

  .basic-weather-data-container {
    margin-top: 0;
  }

  #current-weather {
    padding: 0;
    margin-bottom: 5px;
  }
  
  .basic-weather-data-container p {
    padding-bottom: 0;
    text-align: center;
  }

  #temp {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  #temp::after {
    top: -5px;
  }

  .minor-weather-data {
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 0.8rem;
    max-width: 65%;
  }

  #wind {
    font-size: 0.7rem;
  }

  .prop-container {
    padding: 0;
  }

  .prop-container p {
    text-align: center;
  }

  .prop-container p:last-child {
    justify-content: center;
  }

  .loader {
    width: 150px;
    height: 150px;
  }

  .loader-inner {
    top: 30px;
    right: 25px;
  }

  .error {
    width: 100%;
    height: 100%;
  }

  .message {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .weather-card {
    width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  .weather-card {
    width: 98%;
  }

  .weather-card-inner-container {
    padding: 0 10px;
  }

  .minor-weather-data {
    padding: 10px;
    padding-left: 7px;
    max-width: 60%;
  }
}